@model OnlineMovieTicketBooking.Models.ticketnew

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>My Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movienew.mname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movienew.mname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatType1.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatType1.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shownew.showname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shownew.showname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theatrenew.tname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theatrenew.tname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatType1.Price)
        </dt>
        <dd>@Html.DisplayNameFor(model => model.SeatType1.Price)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theatrenew.Screenid)
        </dt>

        <dd>@Html.DisplayNameFor(model => model.Theatrenew.Screenid)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shownew.starttime)
        </dt>
        <dd>@Html.DisplayNameFor(model => model.Shownew.starttime)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shownew.endtime)
        </dt>
        <dd>@Html.DisplayNameFor(model => model.Shownew.endtime)</dd>


    </dl>
    <dt>
        <dd><button>Dowload Ticket</button></dd>
    </dt>
</div>
