@model IEnumerable<OnlineMovieTicketBooking.Models.UPI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UPIId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPIPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UPIId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPIPIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.num }) |
            @Html.ActionLink("Details", "Details", new { id=item.num }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.num })
        </td>
    </tr>
}

</table>
